@import "~font-awesome/css/font-awesome.css";

.loading{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-app-region: drag;
  background: #E8ECF3;
}

.loading div{
  margin-top: 20px;
  color: #e66196;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  color: #333;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-x: hidden;
  overflow-y: visible;
}

body::-webkit-scrollbar {display:none}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
